<!DOCTYPE html>
<html>

<head>
    <title>タイトル</title>
    <meta charset="utf-8">
    <script src="./main.js" defer></script>
    <link rel="stylesheet" href="./main.css">
</head>

<header>

</header>

<body>
    <img id="image" src="../image/くらげ.png">
    <div id="message">
        ゆらゆら...
    </div>

    <div id="button_zone">
        <button class="buttons" id="btn_A">A</button>
        <button class="buttons" id="btn_A">B</button>
        <button class="buttons" id="btn_A">C</button>
        <button class="buttons" id="btn_A">D</button>
    </div>

</body>

</html>
